<h1>Convite para o time {{ time }}</h1>

<p>Você foi convidado para participar do time {{ team }} por {{ user }}</p>


<p>Para criar sua conta e participar, basta <a href="{{ redirect_url }}/register">clicar aqui</a></p>
